{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
    <div class="map-container col-sm-8 col-lg-9">
        <div>
            <div id="map-canvas"></div>
        </div>
    </div>
    <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
        <div class="col-xs-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body" id="options-panel">
                    <div>
                        <h4>Hotels</h4>
                        <select data-type="hotel" id="hotel-choices">
                            <!--{% for hotel in hotels %}-->
                            <!--<option>{{hotel.name}}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
                    </div>
                    <div>
                        <h4>Restaurants</h4>
                        <select data-type="restaurant" id="restaurant-choices">
                            <!--{% for restaurant in restaurants %}-->
                            <!--<option>{{restaurant.name}}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
                    </div>
                    <div>
                        <h4>Activities</h4>
                        <select data-type="activity" id="activity-choices">
                            <!--{% for activity in activities %}-->
                            <!--<option>{{activity.name}}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-12">
            <h3>
        <span id="day-title">
          <span>Day 2</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
            </h3>
            <div class="panel panel-default">
                <div class="panel-heading" id="day">
                    <div class="day-buttons">
                        <button class="btn btn-circle day-btn">1</button>
                        <button class="btn btn-circle day-btn current-day">2</button>
                        <button class="btn btn-circle day-btn">3</button>
                        <button class="btn btn-circle day-btn" id="day-add">+</button>
                    </div>
                </div>
                <div class="panel-body" id="itinerary">
                    <div>
                        <h4>My Hotel</h4>
                        <ul class="list-group">
                            <div class="itinerary-item">
                                <span class="title" id="hotel"></span>
                                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <h4>My Restaurants</h4>
                        <ul class="list-group">
                            <div class="itinerary-item">
                                <span class="title" id="restaurant"></span>
                                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <h4>My Activities</h4>
                        <ul class="list-group">
                            <div class="itinerary-item">
                                <span class="title" id="activity"></span>
                                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var hotels = {{hotels | dump | safe}};
    var restaurants = {{restaurants | dump | safe}};
    var activities ={{activities | dump | safe}};
    var itineraryArr = [];
    var markersArr = [];
    var itinerary = {restaurant: '', hotel: '', activity: '', day: ''};

    function selectRightItem(type, id) {
        let location;
        let name;

        if (type === 'restaurant') {
            name = restaurants[id - 1].name;
            itinerary.restaurant = name;
            location = restaurants[id - 1].place.location;
            $('#restaurant').text(name);
        };
        if (type === 'hotel') {
            name = hotels[id - 1].name;
            itinerary.hotel = name;
            location = hotels[id - 1].place.location;
            $('#hotel').text(name);
        };
        if (type === 'activity') {
            name = activities[id - 1].name;
            itinerary.activity = name;
            location = activities[id - 1].place.location;
            $('#activity').text(name);
        };

        // Add marker as long as marker is not already inside MarkerArr
        console.log(findMarkerInMarkersArray(type, name));
        if (findMarkerInMarkersArray(type, name) === -1) {
            markersArr.push({type, location, name, id}); //check uniqueness on multiple button presses and itinerary day
        }
    };

    function deleteItem (type, name) {
        // select day
        // if inside itineraryArr select the type
        console.log("DELETING ITEM", itinerary[type]);
        let curItemName = itinerary[type]; // name
        itinerary[type] = "";
        const selector = "#" + type;
        $(selector).text("");

        let indexToDelete = findMarkerInMarkersArray(type, name);
        if (indexToDelete !== -1) markersArr.splice(indexToDelete, 1);
        deleteAllMarkers();
        drawMarkers();
    }

    function drawMarkers () {
        markersArr.forEach(function(mark) {
            console.log("drawing marker");
            drawMarker(mark.type, mark.location);
        });
    }

    function findMarkerInMarkersArray (type, name) {
        var result = -1;
        markersArr.forEach( function(marker, idx) {
            if (marker.type === type && marker.name === name)   result = idx;
        });

        return result;
    }

    console.log(hotels);

    $.each(hotels, function (i, hotel) {
        $('#hotel-choices').append($('<option></option>').text(hotel.name).val(hotel.id));
    });
    $.each(restaurants, function (i, restaurant) {
        $('#restaurant-choices').append($('<option></option>').text(restaurant.name).val(restaurant.id));
    });
    $.each(activities, function (i, activity) {
        $('#activity-choices').append($('<option></option>').text(activity.name).val(activity.id));
    });

    const $optionPanel = $('#options-panel');
    const $itineraryPanel = $('#itinerary');
    const $dayPanel = $('#day');

    $optionPanel.on('click', 'button', function (event) {
        const $selectItem = $(this).siblings('select');
        const $id = $selectItem.val();
        const $type = $selectItem.attr("data-type");
        console.log('id', $id, 'type', $type);
        selectRightItem($type, $id);

        //272
        drawMarkers();
        console.log("After click MarkersArr grows: ", markersArr);
    });

    $itineraryPanel.on('click', '.remove', function (event) {
        const $selectItem = $(this).siblings('span');
        console.log($selectItem, 'name', $selectItem[0].innerText, 'type', $selectItem[0].id);
        const $type = $selectItem[0].id;
        const $name = $selectItem[0].innerText;
        deleteItem ($type, $name);

        console.log("Deleting Marker: ", markersArr);
    });

    $dayPanel.on('click', '.day-btn', function (event) {
        const $selectItem = $(this);
        const $oldcurrentday = $(this).siblings(".current-day");
        console.log($oldcurrentday[0] );
        $oldcurrentday.removeClass("current-day");
//        const $type = $selectItem[0].id;
        const $dayNum = $selectItem[0].innerText;
        $selectItem.addClass("current-day");
//        deleteItem ($type, $name);
//
//        console.log("Deleting Marker: ", markersArr);
    });


</script>
{% endblock %}
